{% extends 'base.html.twig' %}

{% block title %}Vos catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>
    <table>
        <tr>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Actions</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td><strong>{{ category.name }}</strong></td>
                <td><div style="aspect-ratio: 1/1; height: 1em; background-color: {{ category.color }}"></div></td>
                <td>
                    <a href="{{ path('app_edit_category', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('app_delete_category', {'id': category.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('app_add_category') }}" class="btn btn-primary">Ajouter une catégorie</a>
    </div>

{% endblock %}
