{% extends 'base.html.twig' %}

{% block title %}Vos todo lists{% endblock %}

{% block body %}

<h2 >Vos todo lists</h2>

<div class="to-do-lists">
    {% if toDoLists is not null %}
        {% for toDoList in toDoLists %}
            <div class="card card-todo">
                <div>
                    <a href="{{ path('app_to_do_list_tasks', {id: toDoList.id}) }}">
                        <h3>{{ toDoList.title }}</h3>
                        <p>Nombre de tache : {{ toDoList.tasks.count }}</p>
                    </a>
                </div>
                <div>
                    <a class="btn" href="{{ path('app_edit_to_do_list', {"id": toDoList.id }) }}">Editer</a>
                    <a class="btn" href="{{ path('app_delete_to_do_list', {"id": toDoList.id }) }}">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>Vous n'avez aucune to do list</div>
    {% endif %}
</div>
<div style="width: 100%; text-align: center">
    <a class="btn" href="{{ path('app_add_to_do_list') }}">Ajouter une todo list</a>
</div>

{% endblock %}
