{% extends 'base.html.twig' %}

{% block title %}Vos todo lists{% endblock %}

{% block body %}

<h1 style="text-align: center">Vos todo lists</h1>

<div class="to-do-lists">
    <table>
        <tr>
            <th>Nom</th>
            <th>Nombre de taches</th>
        </tr>
        {% if toDoLists is not null %}
            {% for toDoList in toDoLists %}
                <tr>
                    <td><a href="{{ path('app_to_do_list_tasks', {id: toDoList.id}) }}">{{ toDoList.title }}</a></td>
                    <td>{{ toDoList.tasks.count }}</td>
                    <td> <a class="btn" href="{{ path('app_edit_to_do_list', {"id": toDoList.id }) }}">Editer</a> </td>
                </tr>
            {% endfor %}
        {% else %}
            <div>Vous n'avez aucune to do list</div>
        {% endif %}
    </table>
</div>
<div style="width: 100%; text-align: center">
    <a class="btn" href="{{ path('app_add_to_do_list') }}">Ajouter une todo list</a>
</div>

{% endblock %}
