{% extends 'base.html.twig' %}

{% block title %}Todo list | {{ toDoList.title }}{% endblock %}

{% block body %}
    <div class="tasks">
        <div class="waiting-tasks">
            <h2>Tâches en attentes</h2>


            <div class="tasks-list">
                {% if toDoList.tasks is not empty %}
                    {% for task in toDoList.tasks %}
                        {% if not task.closed %}
                            <div class="card">
                                <h3>{{ task.title }}</h3>
                                {% if task.description is not null %}
                                    <p>{{ task.description }}</p>
                                {% endif %}
                                <div class="date">
                                    <p>📅{{ task.createdAt | date("m/d/Y") }}</p>
                                    <p>Expire le : {{ task.expirationDate | date("m/d/Y")  }}</p>
                                </div>
                                <div>
                                    <div><a href="{{ path('app_close_task', {id: task.id}) }}">Fermer</a></div>
                                    <div><a href="{{ path('app_edit_task', {id: task.id}) }}">Editer</a></div>
                                    <div><a href="{{ path('app_delete_task', {id: task.id}) }}">Supprimer</a></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Vous n'avez aucune tache en attente</p>
                {% endif %}

            </div>
        </div>

        <div class="finished-tasks">
            <h2>Tâches achevées</h2>

            {% if toDoList.tasks is not empty %}
                {% for task in toDoList.tasks %}
                    {% if task.closed %}
                        <div class="card">
                            <h3>{{ task.title }}</h3>
                            {% if task.description is not null %}
                                <p>{{ task.description }}</p>
                            {% endif %}
                            <div class="date">
                                <p>📅{{ task.createdAt | date("m/d/Y") }}</p>
                                <p>Expire le : {{ task.expirationDate | date("m/d/Y")  }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div style="width: 100%; text-align: center">
        <a class="btn" href="{{ path('app_add_task', {id: app.request.get('id')}) }}">Ajouter une tache</a>
        <a class="btn" href="{{ path('app_add_category') }}">Ajouter une categorie</a>
    </div>
{% endblock %}
