{% extends 'base.html.twig' %}

{% block title %}Éditer une tâche{% endblock %}

{% block body %}
<h1>Éditer la Tâche</h1>

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.expirationDate) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

<a href="{{ path('app_to_do_list_tasks', {"id" : task.getToDoList().getId()}) }}">Retour à la liste des tâches</a>
{% endblock %}